@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  scroll-behavior: smooth;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

#mobile-menu ul::-webkit-scrollbar {
  width: 10px;  /* Width of the scrollbar */
}

#mobile-menu ul::-webkit-scrollbar-track {
  background: #bcbcbc;  /* Light gray background for the track */
  border-radius: 10px;
}

/* Customize the scrollbar thumb (the draggable part) */
#mobile-menu ul::-webkit-scrollbar-thumb {
  background: #7d7d7d;  /* Darker color for the thumb */
  border-radius: 10px;  /* Rounded corners for the thumb */
}


#mobile-menu ul{
  height: calc(100dvh - 160px);
}

/* Smooth image fade transition */
.hero-image {
  transition: opacity 1s ease-in-out;
}

/* Optional: Add transitions for smooth display */
.hidden_sort {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.show_sort {
  opacity: 1 !important;
  pointer-events: auto !important;
}

/* Optional: Add transitions for smooth display */
.hidden_filter {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.show_filter {
  opacity: 1 !important;
  pointer-events: auto !important;
}


/* Additional CSS for animations */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}